body {
  font-family: 'Infini', sans-serif;

  a {
    color: #F76D22;
  }

  .jumbotron {
    background-color: #F76D22;
    color: white;
    a {
      color: white;
      text-decoration: underline;
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
  }

  .table-bordered {
    td,th { border: 2px black solid !important;}
  }
}
