@font-face {
font-family: 'arizonia';
src: url('arizonia.eot?') format('eot'),
	 url('arizonia.woff') format('woff'),
     url('arizonia.otf') format('truetype'),
     url('arizonia.svg#arizonia') format('svg');
font-weight: normal;
font-style: normal;
}	 

h1
{ 
	text-shadow: 0px 10px 5px rgb(50, 15, 70);
	font-weight: bold;
	font-size: 2000%;
    text-align: center; 
    color: rgb(90,35,75);
    font-family: 'arizonia', sans-serif;
}

body {
    background-color: rgb(100,45,85);
} 