body {
  font-family: 'Infini', sans-serif;
}
body a {
  color: #F76D22;
}
body .jumbotron {
  background-color: #F76D22;
  color: white;
}
body .jumbotron a {
  color: white;
  text-decoration: underline;
}
body .footer {
  position: fixed;
  bottom: 0;
}
body .table-bordered td,
body .table-bordered th {
  border: 2px black solid !important;
}
