body {
  font-family: 'Infini', sans-serif;
  color: #F76D22;
}
body .jumbotron {
  background-color: #F76D22;
  color: white;
}
body .jumbotron a {
  color: white;
  text-decoration: underline;
}
body .footer {
  position: fixed;
  bottom: 0;
}
