@charset "UTF-8";
@font-face {
    font-family: 'font/terminal_grotesque_openRg';
    src: url('font/terminal-grotesque_open-webfont.eot');
    src: url('font/terminal-grotesque_open-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/terminal-grotesque_open-webfont.woff2') format('woff2'),
         url('font/terminal-grotesque_open-webfont.woff') format('woff'),
         url('font/terminal-grotesque_open-webfont.ttf') format('truetype'),
         url('font/terminal-grotesque_open-webfont.svg#terminal_grotesque_openRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
  background-image : linear-gradient(to right, #4DE8E8, pink);
  background-size: cover;
  margin:0;
  padding:0;
  font-family: 'font/terminal_grotesque_openRg', Arial, Helvetica, sans-serif;
}
#menu {
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

#sous {
      color: #FFF;
      display: none;
      background-color: black;
      list-style-type: none;
      padding: 5px;
      border: black solid 1px;
}

#menu:hover #sous {
  display: inline-block;
 }
